<p>Hello,</p>

<p>
  Tickets for <strong><%= @match[:name] %></strong> on <%= @match[:date] %> are now available.
</p>

<p>
  Buy them here: <a href="<%= @match[:url] %>"><%= @match[:url] %></a>
</p>

<p>Thanks!</p>
